@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf) format('truetype');
}

@font-face {
	font-family: 'praktika';
	src: url("../fonts/praktikarounded-medium.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'praktika';
	src: url("../fonts/praktikarounded-light-webfont.woff2") format("woff2"), url("../fonts/praktikarounded-light-webfont.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'praktika';
	src: url("../fonts/praktikarounded-bold-webfont.woff2") format("woff2"), url("../fonts/praktikarounded-bold-webfont.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'praktika';
	src: url("../fonts/praktikarounded-extrabold-webfont.woff2") format("woff2"), url("../fonts/praktikarounded-extrabold-webfont.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-Bold";
	src: url("../fonts/Praktika-Rnd-Bold.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-Medium";
	src: url("../fonts/Praktika-Rnd-Medium.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-MediumItalic";
	src: url("../fonts/Praktika-Rnd-Medium-Ita.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-BoldItalic";
	src: url("../fonts/Praktika-Rnd-Bold-Italic.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-ExtraItalic";
	src: url("../fonts/Praktika-Rnd-Ext-Ita.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-ExtraItalic-Bold";
	src: url("../fonts/Praktika-Rnd-Bold-Ext-Ita.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-ExtraItalic-Medium";
	src: url("../fonts/Praktika-Rnd-Medium-Ext-Ita.otf");
	font-display: swap;
}

@font-face {
	font-family: "Praktika-Rnd-Bold-Ext";
	src: url("../fonts/Praktika-Rnd-Bold-Ext.otf");
	font-display: swap;
}
@font-face {
	font-family: "Praktika-Rnd-ext-Bold-Ext";
	src: url("../fonts/PraktikaRounded-ExtraBoldExt.otf");
	font-display: swap;
}
:root {
	--laranja: #FF7300;
	--violeta: #7300FF;
	--cinza-branco: #F2F2F2;
	--amarelo: #FFB400;
	--cereja: #FF0064;
	--preto: #000000
}

html {
	margin: 0;
	scroll-behavior: smooth;
	font-family: praktika;
}

body {
	margin: 0;
	scroll-behavior: smooth;
	font-family: praktika;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
}

span {
	margin: 0;
}

a {
	margin: 0;
}

.clearfix {
	overflow: auto;
	display: contents;

	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

.container {
	max-width: 1224px;
	width: 90%;
	margin: 0 auto;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

b {
	font-weight: 900;
}

#section01 {
	display: flex;
	background: var(--laranja) url(../images/section01-bg.png) right center no-repeat;
	padding: 80px 0;
	background-size: contain;

	.intro {
		width: 50%;
		float: left;
	}

	.form {
		width: 40%;
		padding: 48px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
		background-color: #ffffff;
		float: left;
		position: relative;
	}

	.arrow {
		position: absolute;
		top: 320px;
		display: none;
	}

	h4 {
		font-family: "PraktikaRounded-Bold";
		color: #fff;
		background: var(--cereja);
		font-size: 20px;
		font-weight: 800;
		font-stretch: expanded;
		font-style: normal;
		line-height: 1.54;
		letter-spacing: normal;
		text-align: left;
		margin-top: 110px;
		margin-bottom: 20px;
		padding: 4px 8px;
		border-radius: 8px;
		max-width: max-content;
	}

	h1 {
		font-family: "Praktika-Rnd-ext-Bold-Ext";
		font-size: 42px;
		line-height: 1.4;
		text-align: left;
		padding-bottom: 40px;
		max-width: 13ch;
	}

	p {
		font-family: Roboto;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		padding-bottom: 16px;
		width: 496px;
	}

	h3 {
		font-family: PraktikaRounded-ExtraItalic;
		font-size: 40px;
		font-weight: normal;
		font-stretch: expanded;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #FF7300;
		padding-top: 60px;
	}

	h5 {
		b {
			font-size: 18px;
		}

		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: center;
		color: #000000;
	}

	button.botao01 {
		font-family: PraktikaRounded-BoldItalic;
		font-size: 16px;
		font-weight: bold;
		font-stretch: normal;
		font-style: italic;
		line-height: 1.05;
		letter-spacing: normal;
		text-align: center;
		color: #ff7300;
		padding: 17px 45px 17px 60px;
		border: solid 2px #FF7300;
		text-decoration: none;
		display: inline-grid;
		background: url(../images/play.svg) no-repeat;
		background-position: 13% center;
	}

	.setazoop {
		position: absolute;
		right: 0;
		top: 0;
		display: none;
	}

	.logotopo {
		padding-bottom: 27px;
	}

	.title {
		height: 360px;
		background: linear-gradient(180deg, #ffb400 0.56%, #ff9b00 50.1%, #ff7300 98.62%);
		padding-top: 59px;
		width: 90%;
		margin: 0 auto;
	}

	.playvideo {
		cursor: pointer;
		z-index: 99999;
		position: relative;
	}
}

.btn-purple {
	font-family: 'Praktika';
	font-size: 20px;
	font-weight: 600;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	background-color: var(--violeta);
	color: #ffffff;
	padding: 15px 30px;
	text-decoration: none;
	width: fit-content;
	margin: 0 auto;
	display: block;
}

.btn-border {
	font-family: PraktikaRounded-BoldItalic;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #ff0662;
	padding: 18px 45px;
	border: solid 2px #ff0662;
	text-decoration: none;
	display: inline-grid;
	width: 288px;
}

.btn-border-small {
	font-family: 'PraktikaRounded-BoldItalic';
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #fe7c0a;
	border: solid 2px #fe7c0a;
	text-decoration: none;
	display: inline-grid;
	padding: 16px 0px;
	width: 100%;
}

.btn-border-white {
	font-family: 'PraktikaRounded-MediumItalic';
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	padding: 14px 30px;
	border: solid 2px #ffffff;
	text-decoration: none;
	display: inline-grid;
	width: 288px;
}

.btn-border-orange {
	font-family: 'PraktikaRounded-MediumItalic';
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #fe7c0a;
	padding: 14px 30px;
	border: solid 2px #fe7c0a;
	text-decoration: none;
	display: inline-grid;
	width: 288px;
}

.btn-border-black {
	font-family: PraktikaRounded-ExtraItalic-Bold;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	padding: 28px 118px;
	border: solid 2px #000000;
	text-decoration: none;
	display: inline-grid;
	width: 288px;
}

.botaofixo {
	a {
		width: 100%;
		height: 50px;
		border: none;
		background-color: var(--violeta);
		font-size: 18px;
		font-weight: 500;
		font-stretch: normal;
		font-style: italic;
		line-height: 2.5;
		letter-spacing: normal;
		text-align: center;
		color: #fff;
		font-family: PraktikaRounded-ExtraItalic-Bold;
		display: none;
		position: fixed;
		bottom: 0;
	}
}

#close-form {
	background: transparent;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	padding: 10px;
	display: none;
}





#section02 {
	background: var(--cinza-branco);
	padding: 80px 0;

	h2 {
		font-family: 'Praktika-Rnd-ext-Bold-Ext';
		font-weight: bold;
		text-align: center;
		font-size: 32px;
		max-width: 40ch;
		margin: 0 auto 8px auto;
	}

	p {
		text-align: center;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px 150px;
		padding: 40px 0;
	}

	li {
		text-align: center;

		p {
			font-family: "praktika";
			font-weight: 400;
		}
	}

	svg {
		margin: 0 auto 10px auto;
		display: block;
	}
}

#section03 {
	background: var(--amarelo);
	padding: 80px 0;

	> div > svg{
		padding-bottom: 40px;
	}
	h2 {
		font-family: 'Praktika-Rnd-ext-Bold-Ext';
		font-weight: bold;
		text-align: center;
		max-width: 30ch;
		font-size: 32px;
		margin: 0 auto 8px auto;
	}

	h3 {
		font-family: "Roboto";
		font-size: 32px;
		font-weight: 800;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 40px;
	}

	h4 {
		font-family: "PraktikaRounded-Bold";
		color: #fff;
		background: var(--cereja);
		font-size: 20px;
		font-weight: 800;
		font-stretch: expanded;
		font-style: normal;
		line-height: 1.54;
		letter-spacing: normal;
		text-align: left;
		margin-bottom: 20px;
		padding: 4px 8px;
		border-radius: 8px;
		max-width: max-content;
	}

	.items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding-bottom: 40px;
		align-items: center;
	}
	> div > div:nth-child(4){
		padding-top: 40px;
		gap: 30px;
	}
	ul {
		display: block;
		margin-bottom: 20px;
	}

	li {
		display: grid;
		grid-template-columns: 18% 82%;
		padding-bottom: 22px;
		p {
			font-family: "praktika";
			font-weight: 400;
		}
	}

	svg {
		margin: 0 auto 0 auto;
		display: block;
	}

	a {
		margin: 0;
		margin-right: auto !important;
	}
}

#section04 {
	padding: 80px 0;
	background: var(--cinza-branco) url(../images/section04-bg.png) left bottom no-repeat;
	background-size: 50%;

	h2 {
		font-family: "Praktika-Rnd-ext-Bold-Ext";
		font-size: 32px;
		font-weight: 800;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 32px;
	}

	>div>div {
		width: 60%;
		margin-left: auto;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 30px 0;
		gap: 10px;

		li {
			display: grid;
			grid-template-columns: 25% 75%;

			p {
				font-family: "praktika";
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 0em;
				text-align: left;
			}
		}
	}

	a {
		margin: 0;
	}
}

#section05 {
	background: var(--laranja) url(../images/setas.svg) right center no-repeat;
	background-size: contain;
	padding: 80px 0;

	>div>div {
		width: 70%;
		display: block;
		margin-right: auto;
	}

	h2 {
		font-family: "Praktika-Rnd-ext-Bold-Ext";
		font-size: 32px;
		font-weight: 800;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: left;
	}

	svg {
		padding: 5px 0 32px 0;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;

		li {
			h3 {
				font-family: "Praktika-Rnd-ext-Bold-Ext";
				color: #fff;
				font-size: 28px;
				font-weight: 800;
				line-height: 34px;
				letter-spacing: 0em;
				text-align: left;
			}

			h4 {
				font-family: "Praktika";
				font-size: 18px;
				font-weight: 500;
				line-height: 22px;
				letter-spacing: 0em;
				text-align: left;
			}
		}
	}
}

#section06 {
	padding: 80px 0;
	text-align: center;

	h2 {
		font-family: "Praktika-Rnd-ext-Bold-Ext";
		font-size: 32px;
		font-weight: 800;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: center;
	}

	p {
		text-align: center;
		padding: 40px 0;
	}
}

#tp {
	padding: 100px 0;
	background: #FF9B00 url(../images/setas-tp.svg) right center no-repeat;

	h1 {
		font-family: "Praktika-Rnd-ext-Bold-Ext";
		font-size: 42px;
		font-weight: 800;
		line-height: 55px;
		letter-spacing: 0em;
		text-align: left;
		max-width: 20ch;
	}
	svg{
		padding-bottom: 32px;
	}
	p {
		padding-bottom: 16px;
	}
	.items{
		display: grid;
		grid-template-columns: 50% 50%;
		align-items: center;
	}
	.videos {
		display: inline-block;
		text-align: right;
		a {
			padding: 5px;
		}
	}
}


#footer {
	background: #17161a;
	padding: 65px 0 90px 0;

	p {
		font-family: "PraktikaRounded-Medium";
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.56;
		letter-spacing: normal;
		text-align: right;
		color: var(--laranja);
	}

	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

form {
	padding-top: 40px;

	input {
		&::placeholder {
			padding: 0 10px;
		}
	}

	select {
		&::placeholder {
			padding: 0 10px;
		}

		width: 47%;
		float: left;
		margin: 0 15px 15px 0;
		padding: 10px;
		border: solid 1px #c7c7c7;
		background-color: #ffffff;
		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: italic;
		line-height: 1.36;
		letter-spacing: normal;
		text-align: left;
		color: #8c8c8c;
		height: 52px;
	}

	input[type=text] {
		width: 47%;
		float: left;
		margin: 0 15px 15px 0;
		padding: 10px 0;
		border: solid 1px #c7c7c7;
		background-color: #ffffff;
		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: italic;
		line-height: 1.36;
		letter-spacing: normal;
		text-align: left;
		color: #8c8c8c;
		height: 30px;
	}

	input[type=email] {
		width: 47%;
		float: left;
		margin: 0 15px 15px 0;
		padding: 10px 0;
		border: solid 1px #c7c7c7;
		background-color: #ffffff;
		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: italic;
		line-height: 1.36;
		letter-spacing: normal;
		text-align: left;
		color: #8c8c8c;
		height: 30px;
	}

	input[type=tel] {
		width: 47%;
		float: left;
		margin: 0 15px 15px 0;
		padding: 10px 0;
		border: solid 1px #c7c7c7;
		background-color: #ffffff;
		font-family: Roboto;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: italic;
		line-height: 1.36;
		letter-spacing: normal;
		text-align: left;
		color: #8c8c8c;
		height: 30px;
	}

	input#sobrenome {
		margin: 0 0 15px 0 !important;
	}

	input#tel {
		margin: 0 0 15px 0 !important;
	}

	select#tem-cnpj {
		margin: 0 0 15px 0 !important;
	}

	select#cargo {
		margin: 0 15px 15px 0 !important;
	}

	@media screen and (min-width: 767px) {
		select#setor {
			margin: 0 !important;
		}
	}

	select#contas {
		margin: 0 0 15px 0 !important;
	}

	select#area {
		margin: 0 0 15px 0 !important;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #ffffff url(../images/select.svg) 93% center no-repeat;
	}

	button {
		width: 130px;
		height: 60px;
		margin: 0 auto;
		margin-top: 25px;
		border: none;
		background-color: var(--violeta);
		font-size: 18px;
		font-weight: 500;
		font-stretch: normal;
		line-height: 1.21;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		font-family: PraktikaRounded-Bold;
		display: block;
	}
}

@media screen and (max-width: 1024px) {
	html {
		overflow-x: hidden;
	}

	body {
		overflow-x: hidden;
	}

	.container {
		display: block !important;
	}

	.intro {
		width: 100% !important;
	}

	.form {
		width: 100% !important;
		padding: 48px 0;
		margin-top: 40px;
		box-sizing: border-box;
	}

	#section01 h4 {
		margin-top: 40px;
		margin-bottom: 24px;
	}

	.div01 {
		width: 100% !important;
	}

	.div02 {
		width: 100% !important;
	}

	img {
		max-width: 100%;
	}

	select {
		width: 47%;
	}

	#section01 {

		display: flex;
		background: var(--laranja);
		padding: 80px 0;
		background-size: 100%;

		h1 {
			padding-top: 60px;
		}
	}

	input[type="text"] {
		&:nth-child(2) {
			margin: 0 0 15px 0 !important;
		}
	}

	input[type=tel] {
		margin: 0 0 15px 0 !important;
	}

	form {
		select {
			&:nth-child(1) {
				margin: 0 0 15px 0 !important;
			}

			&:nth-child(3) {
				margin: 0 0 15px 0 !important;
			}

			&:nth-child(5) {
				margin: 0 0 15px 0 !important;
			}
		}
	}

	#footer {
		padding: 40px;
		display: flex;
		text-align: center;

		img {
			padding-bottom: 20px;
		}

		p {
			text-align: center !important;
			display: block !important;
		}
	}

	#section02 {
		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 40px;
		}
	}

	#section03 {
		li {
			display: grid;
			grid-template-columns: 23% 77%;
		}
		 > div > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(2){
			margin-bottom: -19px;
		 }
		.items {
			align-items: center;
		}
	}

	#section04 {
		padding: 80px 0;
		background: var(--cinza-branco) url(../images/section04-bg.png) left -280px bottom no-repeat;
		background-size: contain;

		ul {
			display: grid;
			grid-template-columns: 100%;
			li{
				align-items: center;
				p{
					max-width: 24ch;
				}
			}
		}
	}

	#section05 {
		background: var(--laranja);

		>div>div {
			width: 100%;
		}
	}

	#tp {
		padding: 80px 0;
		background: #ff9b00;

		p {
			max-width: 80%;
		}
	}
}
@media screen and (min-width: 900px) and (max-width:1024px){
	#section04 {
		background: var(--cinza-branco) url(../images/section04-bg.png) left -370px bottom no-repeat;
		background-size: contain;
	}
}
@media screen and (max-width: 766px) {

	.btn-purple,
	.btn-border,
	.btn-border-small,
	.btn-border-white,
	.btn-border-black,
	.btn-border-orange {
		display: none !important;
	}

	.swal2-container {
		z-index: 9999999999;
	}

	.botaofixo {
		a {
			display: block;
		}
	}

	#close-form {
		display: block;
	}

	#section01 {
		.form {
			position: absolute;
			top: 0;
			margin: 0;
			left: 0;
			width: 100% !important;
			box-sizing: border-box;
			height: 100% !important;
			display: none;
			overflow-y: auto;
			z-index: 999999999;
		}
	}

	form {
		button {
			margin-bottom: 40px;
		}
	}

	#section01 {
		display: flex;
		background: var(--laranja);
		padding: 60px 0;
	}

	#section01::after {
		background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
		opacity: .6;
	}

	#section01 h1 {
		padding-top: 20px;
	}

	h1 {
		font-size: 27px !important;
		line-height: 1.5 !important;

		br {
			display: none;
		}
	}

	h2 {
		font-size: 22px !important;
		line-height: 1.5 !important;
	}

	h3 {
		font-size: 18px !important;
		line-height: 23px !important;
	}

	h4 {
		font-size: 18px !important;
	}

	h5 {
		font-size: 15px !important;
	}

	p {
		font-size: 14px !important;
	}

	li {
		font-size: 14px !important;
	}

	img {
		max-width: 100%;
	}

	.btn-border {
		font-size: 15px;
		padding: 18px 0;
		width: 100%;
		display: block;
	}

	.btn-border-white {
		font-size: 15px;
		padding: 18px 0;
		width: 100%;
		display: block;
	}

	.btn-border-black {
		font-size: 15px;
		padding: 18px 0;
		width: 100%;
		display: block;
	}

	.btn-purple {
		font-size: 15px;
		padding: 18px 0;
		width: 100%;
		display: block;
	}

	#section01 {
		p {
			width: 100%;
		}

		h3 {
			padding-top: 20px;
			width: 100%;
		}

		h5 {
			width: 90%;
			margin: 0 auto;
		}

		.form {
			width: 40%;
			padding: 20px;
		}
	}

	#section02 {
		padding: 60px 0;
		ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	}

	#section03 {
		padding: 60px 0 0 0;
		.items {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			padding-bottom: 20px;
		}

		>div>div:nth-child(4) {
			display: inline-flex;
			flex-flow: column-reverse;
		}
	}

	#section04 {
		padding: 60px 0 110% 0;
		background: var(--cinza-branco) url(../images/section04-bg.png) left bottom no-repeat;
		background-size: 130%;

		>div>div {
			width: 100%;
		}
	}

	#section05 {
		padding: 60px 0;
		ul {
			grid-template-columns: repeat(2, 1fr);
			gap: 22px;
		}
	}
	#section06 {
		padding: 60px 0;
		p{
			padding-bottom: 0;
		}
	}

	footer {
		padding-bottom: 40px;
	}

	input[type=text],
	input[type=email],
	input[type=tel],
	select {
		width: 100% !important;
		margin: 0 0 15px 0 !important;
	}

	form {
		padding: 40px 10px 0;

		button {
			margin-right: 0;
			width: 100%;
			height: 65px;
			margin-top: 25px;
			font-size: 18px;
		}
	}
	#tp{
		.items {
			display: grid;
			grid-template-columns: 90%;
		}
	}
}