@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf") format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf") format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf") format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf") format('truetype');
}
@font-face {
	font-family: 'praktika';
	src: url("../fonts/praktikarounded-regular-webfont.woff2") format("woff2"), url("../fonts/praktikarounded-regular-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-Black";
	src: url("../fonts/PraktikaRounded-Black.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-Extra-Bold";
	src: url("../fonts/PraktikaRounded-ExtraBold.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-Expanded-Bold";
	src: url("../fonts/PraktikaRounded-BoldExt.otf");
	font-display: swap;
}

@font-face {
	font-family: "PraktikaRounded-Bold";
	src: url("../fonts/Praktika-Rnd-Bold.otf");
	font-display: swap;
}
@font-face {
	font-family: "PraktikaRounded-Medium";
	src: url("../fonts/Praktika-Rnd-Medium.otf");
	font-display: swap;
}